[flake8]
max-line-length = 80

# Select (turn on)
# * Complexity violations reported by mccabe (C) -
#   http://flake8.pycqa.org/en/latest/user/error-codes.html#error-violation-codes
# * Documentation conventions compliance reported by pydocstyle (D) -
#   http://www.pydocstyle.org/en/stable/error_codes.html
# * Default errors and warnings reported by dlint (DUO) -
#   https://github.com/dlint-py/dlint/tree/master/docs
# * Default errors and warnings reported by pycodestyle (E and W) -
#   https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
# * Default errors reported by pyflakes (F) -
#   http://flake8.pycqa.org/en/latest/glossary.html#term-pyflakes
# * Default errors and warnings reported by pep8-naming (N) -
#   https://github.com/PyCQA/pep8-naming#error-codes
# * Default errors and warnings reported by flake8-noqa (NQA) -
#   https://github.com/plinss/flake8-noqa#error-codes
# * Default warnings reported by flake8-bugbear (B) -
#   https://github.com/PyCQA/flake8-bugbear#list-of-warnings
# * The B950 flake8-bugbear opinionated warning -
#   https://github.com/PyCQA/flake8-bugbear#opinionated-warnings
select = C,D,DUO,E,F,N,NQA,W,B,B950

# Ignore
# * flake8's default warning about whitespace before ':' because Black enforces
#   an equal amount of whitespace around slice operators (':').
# * flake8's default warning about maximum line length, which has a hard stop
#   at the configured value.  Instead we use flake8-bugbear's B950, which
#   allows up to 10% overage.
# * flake8's warning about line breaks before binary operators.  It no longer
#   agrees with PEP8.  See, for example, here:
#   https://github.com/ambv/black/issues/21
#   Guido agrees here:
#   https://github.com/python/peps/commit/c59c4376ad233a62ca4b3a6060c81368bd21e85b
ignore = E203,E501,W503
